
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');

body{
   
        margin: 0;
        padding: 0;
      

}
.cart-wrap{
    min-height: 100vh;
}

.item-card {
    
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0 30px;
   
    width: 40rem;
    height: 10rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
   background-color: white;;

}
.item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }

.item-img{
    height: 7em;
}
button {
    border: none;
     background-color: white;
}
.delete-btn{
    border: 1px solid gray;
}

.total{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0 30px;
   
    width: 40rem;
    height: 3rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
   background-color: white;;
}
.total:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }

.checkout-btn{
    border: 1px solid gray;
}
.checkout-btn:hover{
    border: 1px solid gray;
    background-color:#77acf1; 
    color: black;
    font-weight: 800;
}


@media screen and (max-width: 50em) {
  
 
    .item-card {
        width: 85vw;
    
    }
    .total {
        width: 85vw;
    }
}

 
 
@media screen and (min-width: 60em) {
 
    .product-card {
        flex: 0 1 calc(23% - 1em);
        
     }
}
 
