.navbar {
   position:sticky;
   top:0;
   

    background-color: #77acf1; 
    padding: 0px 20px;
    color: black;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


}
.nav-link {
     margin: 0 1.5em;
    color: black;
    text-decoration: none;
   
}
.nav-link:hover{

    color: white;
    transition: all 0.2s ease;
    
    

}
.logo{
    height: 1.5em;
    margin: 0 5px;
}
.logo:hover{

    color: white;
    transition: all 0.2s ease;
}

.logout-link {
    text-decoration: none;
    display: flex;

}
.logout {
   background-color: #77acf1; 
   color: black;
   font-size:1em;
   
   margin: auto;
}
.logout:hover{

    color: white;
    transition: all 0.2s ease;
}

.login{
    background-color: #77acf1; 
    color: black;
    font-size:1em;
    float: right;
    text-align: center;
    margin:auto;

}
.login-button{
    color: black;
    background-color: #77acf1; 
    text-align: center;

    margin: 0 1.5em;
    color: black;
    text-decoration: none;
}
.login-button:hover{

    color: white;
    transition: all 0.2s ease;
}

